<section class="py-10 bg-white sm:py-16 lg:py-24">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto text-center">
      <h2
        class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-5xl"
      >
        Hola!, soy Emerson
      </h2>
      <p class="max-w-lg mx-auto mt-4 text-base leading-relaxed text-gray-600">
        Soy un desarrollador Fullstack apasionado por la creatividad, el
        aprendizaje continuo y el trabajo en equipo. Mi objetivo es crear
        soluciones innovadoras y eficientes que impulsen el crecimiento de las
        empresas.
      </p>
    </div>
  </div>
</section>
